name: Continuous Deployment to Pi 5
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy Backend Logic (JSP)
        run: |
          # Inject shop.jsp into the Tomcat App Server
          kubectl create configmap ecommerce-logic --from-file=shop.jsp=src/shop.jsp -n devops-lab --dry-run=client -o yaml | kubectl apply -f -
          kubectl rollout restart deployment app-server -n devops-lab

      - name: Deploy Frontend UI (HTML)
        run: |
          # Inject index.html into the Nginx Web Server
          kubectl create configmap web-frontend --from-file=index.html=src/index.html -n devops-lab --dry-run=client -o yaml | kubectl apply -f -
          kubectl rollout restart deployment web-server -n devops-lab

      - name: Final SRE Health Check
        run: |
          kubectl get pods -n devops-lab
          echo "Deployment successful. View at http://192.168.0.26:30088"
